/platform/ise/ipcore_dir
/platform/ise/_xmsgs
/platform/ise/PicoVM.gise
/platform/ise/picoblaze_top_level_summary.html
/docs/*.pdf
/platform/coregen/block_ram_32k_8/*.vho
/platform/coregen/block_ram_32k_8/*.txt
/platform/coregen/block_ram_32k_8/*.html
/platform/coregen/block_ram_32k_8/*.tcl
/platform/coregen/block_ram_32k_8/*.log
/platform/coregen/block_ram_32k_8/*.asy
/platform/coregen/block_ram_32k_8/*.gise
tmp
xlnx_auto_0_xdb
_xmsgs
bram_32k_8
iseconfig
/platform/coregen/block_ram_32k_8/*.ngc
